name: build default on macos

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install dependencies
        run: |
          brew update
          brew install \
              python3 doxygen sphinx
          pip3 install breathe
      - name: configure cmake
        run: |
            cmake -B ${{github.workspace}}/build \
                  -D CMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install \
                  -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: make
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: install
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -- install
      - name: ctest
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}
