name: build default on ubuntu gcc

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install \
              cmake make gcc python3 pip doxygen
          pip install sphinx breathe
      - name: configure cmake
        run: |
            cmake -B ${{github.workspace}}/build \
                  -D CMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install \
                  -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                  -D ENABLE_DEVEL=ON \
                  -D CMAKE_C_COMPILER=/usr/bin/gcc
      - name: make
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: install
        working-directory: ${{github.workspace}}/build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -- install
      - name: ctest
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}
