name: build default on ubuntu clang

on:
  repository_dispatch:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install cmake make clang ccache
      - name: configure cmake
        run: |
            cmake -B ${{github.workspace}}/build \
                  -D CMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install \
                  -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                  -D CMAKE_C_COMPILER=/usr/lib/ccache/clang \
                  -D BFDEV_DEVEL=ON
      - name: make
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: install
        working-directory: ${{github.workspace}}/build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -- install
      - name: ctest
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} -V
